body {
    font-family: Sans-Serif;
    padding: 20px;
    box-sizing: border-box;
  }
  
  /*
  below: style fonts and image
  */

  h5 {
    margin-bottom: 6px;
    color: rgb(88, 7, 48);
  }

  h3 {
    color: #172746;
    margin-bottom: 16px;
    font-size: 22px;
    font-weight: bold;
  }

  .canvas { 
    box-sizing: border-box;
    width: 205px;
    height: 300px;
  }