* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --balloon-size: 100%;
    --hue: 200;
    --saturation: 50%;
    --lightness: 50%;
}

.bg {
    height: 100vh;
    background-color: hsl(var(--hue), 30%, 10%);
    text-align: center;
    /* display: flex;
    align-items: center;
    justify-content: center;   */
}

.balloon {
    font-size: var(--balloon-size);
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: center;  
}

.buttons {
    background-color: #fff;
}

.button {
    display: block;
    margin: 20px auto;
}

.row {
    width: 100%;
    background-color: black;
    font-size: 1.5rem;
    margin: 0;
}

.row .col-lg-12 {
    color: #fff;
}

.active {
    display: inline;
}

.hidden {
    display: none;
}
