/* -- GLOBAL -- */
* {
    font-family: Georgia;
}

/* -- HEADER IMAGE -- */
#header-img-div {
    display: block;
    width: 200px;
    max-width: 50%;
    min-width: 10%;
}

#header-img {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
}

/* -- HEADER TEXT -- */
h1 {
    color: #3C4048;
    font-family: Trebuchet MS, Georgia;
}

#header-lines {
    display: block;
    margin-left: 15px;
    margin-right: auto;
}

/* -- HEADER 03 -- */
h3 {
    color: #3C4048;
}

#app-list {
    background-color: #EAEAEA;
}

/* -- TABLES -- */
th {
    color: white;
    background-color: #00ABB3;
}

th, td {
    padding-right: 5px;
    padding-left: 5px;
}

/* -- MAIN -- */
body {
    background-color: #ffffff;
}

/* -- HR -- */
hr {
    background-color: transparent;
    height: 0;
    border-style: dotted none none;
    border-width: 10px;
    width: 50px;
    max-width: 50%;
    min-width: 5%;
    color: #3C4048;
}