* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    max-width: 100vw;
}

body {
    background-color: var(--color-fall);
}

:root {
    --opacity-main: 0.75;
    --opacity-hover: 0.45;
    --opacity-clicked: 1;
    --color-purple: #7074B3;
    --color-fall: #f1efe3;
    --color-button: #1d1f3a;
    --title-width: 550px;
    --max-width: 90vw;
    --border-radius: 8px;
  }

h6 {
    margin: 6px;
    color: aliceblue;
}
 
.title, .gear {
    width: var(--title-width);
    border-radius: var(--border-radius);
    text-align: center;
    max-width: var(--max-width);
    margin: 30px auto;
    padding: 12px;
}

.title {
    background-color: var(--color-purple); 
    color: aliceblue;
    
}

.gear {
    align-items: center;
    background-color: var(--color-purple);
    margin-top: 70px;
    letter-spacing: .5rem;
}

h3 {
    font-size: 2rem;
    color: aliceblue;
}

.container {
    background-color: white;
    display: flex;
    border-radius: var(--border-radius);
    width: 290px;
    max-width: var(--max-width);
    margin: auto;
    padding: 30px;
    gap: 30px;
    justify-content: center;
}

.container.column {
    padding: 0;
    flex-direction: column;
}

.container.row {
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
}

.item {
    width: 100px;
    height: 100px;

    /* to center the text */
    line-height: 100px;
    text-align: center;

    border-radius: var(--border-radius);
    text-align: center;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0);
    cursor: pointer;
}

.item:hover {
    opacity: var(--opacity-hover);
}

/*
== using native CSS selectors to add the flicker effect ==
.item:active {
    opacity: var(--clicked-opacity);
}
*/

.red {
    background-color: #db0909;
}

.blue {
    background-color: rgb(0, 183, 255);
    
}

.green {
    background-color: #08c211;
}

.yellow {
    background-color: rgb(240, 240, 1);
}

.opacity-def {
    opacity: var(--opacity-main);
}

.opacity-active {
    /* this is to deactivate the hovering effect while the flicker effect is being played (below) */
    pointer-events: none;
    opacity: var(--opacity-clicked);
}

.border-click {
    border: rgba(146, 0, 0, 0.548);
    border-style: solid;
    border-width: 3px;
}

/* === TOOLTIP=== */

.tooltip {
    position: relative;
    /* display: inline-block; */
  }

/* Tooltip text */
.tooltip .tooltiptext {
    top: 0%;
    left: 0%;
    font-size: 1rem;
    visibility: hidden;
    opacity: 0.7;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 6px 12px;
    border-radius: var(--border-radius);
    position: absolute;
    z-index: 1;
    letter-spacing: normal;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

#start-button {
    background-color: var(--color-button);
    padding: 2px 12px;
    display: inline-block;
    border-radius: var(--border-radius);
    opacity: var(--opacity-main);

	border: none;
	cursor: pointer;

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

#start-button:hover {
    opacity: var(--opacity-hover);
}

/* class used to disable hovering effects */
.no-hover{
    pointer-events: none;
}

/*
==== TRASH BIN ====

=== GRID ===
.container {
    margin: auto;
    height: 240px;
    width: 240px;
    background-color: white;
    justify-content: space-evenly;
    align-content: space-evenly;
    display: grid;
    border-radius: 15px;
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px 100px;
}
*/
