

.header {
    color: #ffffff;
    background-color: #ecac22;
    padding: 16px;
}

.note {
    margin: 12px 16px;
    border: 1px solid #ccc!important;
    border-radius: 15px;
    padding: 15px;
    display: inline-block;
}

.footer {
    margin: 16px;   
}