* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.main-container {
    width: 800px;
    padding: 5px;
    display: inline-block;
    border: 5px solid;
    border-color: rgb(48, 48, 48);
  }

body {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  height: 100vh;
  background-image: url(./img/calc001.jpg);
}

h1 {
  text-align: center;
}

.button {
  background-color: #f44336;
  color: white;
  margin: 7px;

  padding: 7px 18px;

  text-align: center;
  text-decoration: none;
  display: inline-block;

  border: none;
  font-weight: normal;
  font-size: 16px;
  border-radius: 22px;

  transition-duration: 0.2s;
}

.button:hover {
  background-color: #f81b0b;
  color: #ffffff;

  transform: scale(1.1);
}

#todo-list {
  padding: none;
  display: inline-block;
  /* commented out border */
  /*border: 5px solid #fff;*/
  width: 800px;
  padding: 0px;
}

.table-class {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    color: #fff;
  }

#status-bar {
  background-color: #f44336;
  color: white;
  margin: auto;
  width: 80%;

  padding: 3px 12px;

  text-align: center;
  text-decoration: none;

  border: none;
  font-weight: normal;
  font-size: 12px;
  border-radius: 3px;

  transition-duration: 0.3s;
}

.center {
  margin: auto;
  width: 100%;
  border: 0px solid transparent;
  padding: 0px;
}

.tcell, .thead {
  padding: 3px 22px;
  background-color: rgb(48, 48, 48);
}

/* tooltip section */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 320px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;

  /* position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
